<div class="col-md-12">
  <h2 class="py-3">ライブ</h2>
</div>

<div class="col-md-12">
  <% @setlists.each do |date, s| %>
    <div class="setlist">
      <div class="date pt-3">
        <%= date.strftime("%Y/%m/%d") %>
      </div>
      <% s.each do |setlist| %>
        <%= link_to setlist_path(setlist) do %>
          <div class="title pl-3 py-2">
            <%= setlist.title %> @<%= setlist.place %> / OPEN: <%= setlist.event_date.strftime("%H:%M") %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>