<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-125800376-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-125800376-1');
    </script>
    <title>AIS-LOG</title>
    <meta name="description" content="AIS -All Idol Songs-の情報をまとめている非公式サイトです">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': false %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': false %>
  </head>

  <body class="<%= body_class %>">
    <% if flash_messages? %>
    <div class="container-fluid">
      <% flash_messages %>
    </div>
    <% end %>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <div class="container">
        <%= link_to 'AIS-LOG', root_path, class: 'navbar-brand' %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-menu" aria-controls="header-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="header-menu">
          <ul class="navbar-nav ml-auto justify-content-end">
            <li class="nav-item">
              <%= link_to 'ライブ', setlists_path %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
